<!DOCTYPE html>
<html lang="{{config.lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <link rel="stylesheet" href="./mdsite.css">
  </head>
  <body>
    <header>
      <a href="./index.html">{{config.title}}</a>
    </header>
    {{contents}}

    <h2>Table of contents</h2>
    <ul>
    {% set category = "" %}
    {% for markdown in markdowns %}
      {% if category != markdown.category %}
        {% set category = markdown.category %}
      </ul>
      <h3>{{markdown.category}}</h3>
      <ul>
      {% endif %}
      <li><a href="{{markdown.link}}">{{markdown.title}}</a></li>
    {% endfor %}
    </ul>

    <footer>
      <p>created at: {{created_at}}, updated at: {{updated_at}}</p>
      <p>{{config.author}} © {{year}}</p>
    </footer>
  </body>
</html>
