<!DOCTYPE html>
<html lang="{{config.lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="{{markdown.link_to_root}}mdsite.css">
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
          processEscapes: true
        },
        "HTML-CSS": { fonts: ["TeX"] }
      });
    </script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/mathjax@2/MathJax.js"></script>
  </head>
  <body>
    <header>
      <a href="{{markdown.link_to_root}}index.html">{{config.title}}</a>
    </header>
   {{contents}}
    <footer>
      <p>created at: {{created_at}}, updated at: {{updated_at}}</p>
      <p>{{config.author}} © {{year}}</p>
    </footer>
  </body>
</html>
