<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{config.title}}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css">
    <link rel="stylesheet" href="/potage.css">
  </head>
  <body>
    <header>
      <a href="/index.html">{{config.title}}</a>
    </header>
    <h1>寄席</h1>
    <h2>第一部　お高祖頭巾の月</h2>
    <h3>稽古</h3>
    <p>「今つけてやる」</p>
    <p>そう言ったきり、フイと師匠の雷門助六は、立っていってしまった。もうそれから二時間近くが経っていた。キチンと座ったまま両方の足の親指と親指とを重ね合い、その上へ軽く落とした自分のお尻がはじめ小さな風呂敷包みを膝の上へ載せたほどに、だんだんギッチリと詰まった信玄袋の重さに、しまいにはまるで大きな沢庵石でも載せられたかのようになってきていた。</p>
    <footer>
      <p>{{config.author}} © {{year}}</p>
    </footer>
  </body>
</html>